* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: var(--background-light);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
main {
  position: relative;
  width: 100%;
  max-width: 1200px;
}
section,
footer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  section,
  footer {
    margin: 50px 0;
  }
}
a {
  text-decoration: none;
}

/* ===== Scrollbar =====*/
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #20aa47;
}

/* ===== Margins ===== */
/* === Top === */
.mt-5-sm {
  margin-top: unset;
}
.mt-10-sm {
  margin-top: unset;
}
.mt-15-sm {
  margin-top: unset;
}
.mt-20-sm {
  margin-top: unset;
}
.mt-50-sm {
  margin-top: unset;
}
.mt-5 {
  margin-top: unset;
}
.mt-10 {
  margin-top: unset;
}
.mt-15 {
  margin-top: unset;
}
.mt-20 {
  margin-top: unset;
}
.mt-50 {
  margin-top: unset;
}
@media (max-width: 800px) {
  .mt-5-sm {
    margin-top: 0px;
  }
  .mt-10-sm {
    margin-top: 0px;
  }
  .mt-15-sm {
    margin-top: 0px;
  }
  .mt-20-sm {
    margin-top: 0px;
  }
  .mt-50-sm {
    margin-top: 0px;
  }
}
@media (min-width: 800px) {
  .mt-5 {
    margin-top: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-50 {
    margin-top: 50px;
  }
}

/* === Right === */
.mr-5-sm {
  margin-right: unset;
}
.mr-10-sm {
  margin-right: unset;
}
.mr-15-sm {
  margin-right: unset;
}
.mr-20-sm {
  margin-right: unset;
}
.mr-50-sm {
  margin-right: unset;
}
.mr-5 {
  margin-right: unset;
}
.mr-10 {
  margin-right: unset;
}
.mr-15 {
  margin-right: unset;
}
.mr-20 {
  margin-right: unset;
}
.mr-50 {
  margin-right: unset;
}
@media (max-width: 800px) {
  .mr-5-sm {
    margin-right: 0px;
  }
  .mr-10-sm {
    margin-right: 0px;
  }
  .mr-15-sm {
    margin-right: 0px;
  }
  .mr-20-sm {
    margin-right: 0px;
  }
  .mr-50-sm {
    margin-right: 0px;
  }
}

@media (min-width: 800px) {
  .mr-5 {
    margin-right: 5px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .mr-50 {
    margin-right: 50px;
  }
}

/* === Bottom === */
.mb-5-sm {
  margin-bottom: unset;
}
.mb-10-sm {
  margin-bottom: unset;
}
.mb-15-sm {
  margin-bottom: unset;
}
.mb-20-sm {
  margin-bottom: unset;
}
.mb-50-sm {
  margin-bottom: unset;
}
.mb-5 {
  margin-bottom: unset;
}
.mb-10 {
  margin-bottom: unset;
}
.mb-15 {
  margin-bottom: unset;
}
.mb-20 {
  margin-bottom: unset;
}
.mb-50 {
  margin-bottom: unset;
}
@media (max-width: 800px) {
  .mb-5-sm {
    margin-bottom: 0px;
  }
  .mb-10-sm {
    margin-bottom: 0px;
  }
  .mb-15-sm {
    margin-bottom: 0px;
  }
  .mb-20-sm {
    margin-bottom: 0px;
  }
  .mb-50-sm {
    margin-bottom: 50px;
  }
}
@media (min-width: 800px) {
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
}

/* === Left === */
.ml-5-sm {
  margin-left: unset;
}
.ml-10-sm {
  margin-left: unset;
}
.ml-15-sm {
  margin-left: unset;
}
.ml-20-sm {
  margin-left: unset;
}
.ml-50-sm {
  margin-left: unset;
}
.ml-5 {
  margin-left: unset;
}
.ml-10 {
  margin-left: unset;
}
.ml-15 {
  margin-left: unset;
}
.ml-20 {
  margin-left: unset;
}
.ml-50 {
  margin-left: unset;
}
@media (max-width: 800px) {
  .ml-5-sm {
    margin-left: 0px;
  }
  .ml-10-sm {
    margin-left: 0px;
  }
  .ml-15-sm {
    margin-left: 0px;
  }
  .ml-20-sm {
    margin-left: 0px;
  }
  .ml-50-sm {
    margin-left: 0px;
  }
}

@media (min-width: 800px) {
  .ml-5 {
    margin-left: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .ml-50 {
    margin-left: 50px;
  }
}

/* ===== Concert One ===== */
@font-face {
  font-family: "Concert One";
  src: url("../fonts/ConcertOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* ===== Poppins ===== */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}
